<div style="background: #fff; width: 100%">
  <%= @titulo %><br/>
  <% @formularios.each  do |p| %>
    <div style="color: black; padding: 15px;"><%= p.description_title_concent %></div>
  <% end %>
</div>
