<header>
  <!-- Los div son utilizados para imagenes o graficos -->
  <div class="logotipo">
    <img src="/assets/logo.png" alt="">
  </div>
  <nav>
    <ul>
      <li><a href="">Inicio</a></li>
      <li><a href="">Acerda de</a></li>
      <li><a href="">Servicios</a></li>
      <li><a href="">Contacto</a></li>
    </ul>
  </nav>
</header>

<section class="main">
  <section class="articles">
    <article>
      <h2>Este es el titulo de mi sitio web</h2>
      <p>
        Ruby on Rails is a full-stack web framework optimized for programmer happiness and sustainable productivity. It
        encourages beautiful code by favoring convention over configuration.
      </p>
    </article>
    <article>
      <h2>Este es el titulo de mi sitio web</h2>
      <p>
        Ruby on Rails is a full-stack web framework optimized for programmer happiness and sustainable productivity. It
        encourages beautiful code by favoring convention over configuration.
      </p>
    </article>
    <article>
      <h2>Este es el titulo de mi sitio web</h2>
      <p>
        Ruby on Rails is a full-stack web framework optimized for programmer happiness and sustainable productivity. It
        encourages beautiful code by favoring convention over configuration.
      </p>
    </article>
    <article>
      <h2>Este es el titulo de mi sitio web</h2>
      <p>
        Ruby on Rails is a full-stack web framework optimized for programmer happiness and sustainable productivity. It
        encourages beautiful code by favoring convention over configuration.
      </p>
    </article>
    <article>
      <h2>Este es el titulo de mi sitio web</h2>
      <p>
        Ruby on Rails is a full-stack web framework optimized for programmer happiness and sustainable productivity. It
        encourages beautiful code by favoring convention over configuration.
      </p>
    </article>
  </section>
  <aside>
    <h3>Este es mi siderbar</h3>
    <p>
      Ruby on Rails is a full-stack web framework optimized for programmer happiness and sustainable productivity. It
      encourages beautiful code by favoring convention over configuration.
    </p>
  </aside>
  <aside>
    <h3>Este es mi siderbar</h3>
    <p>
      Ruby on Rails is a full-stack web framework optimized for programmer happiness and sustainable productivity. It
      encourages beautiful code by favoring convention over configuration.
    </p>
  </aside>
</section>

<footer>
  <p>Andres Felipe pelaez - Copy-right</p>
</footer>