<h1>Editing Formulariosobservacion</h1>

<%= render 'form', formulariosobservacion: @formulariosobservacion %>

<%= link_to 'Show', @formulariosobservacion %> |
<%= link_to 'Back', formulariosobservaciones_path %>
